<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style/libs/hover.css">
    <link rel="stylesheet" href="/style/libs/swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/style/bag.css">
</head>

<body>

    <div class="app">



        <section class="app__banner">


            <header class="app__header">
                <nav class="app__nav">


                    <a href="/" class="logo"> <img src="/images/logo.png" alt=""></a>

                    <ul class="app__navbar1">

                        <a href="/" class="app__navlinks1 hvr-underline-from-left">Home</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Productos</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Ofertas</a>
                        <a href="#" class="app__navlinks1 hvr-underline-from-left">Novedades</a>


                    </ul>


                    <div class="app__navbar2">

                        <a href="#" class="app__navlinks1 hvr-underline-from-left" id="signin">Iniciar Sesión</a>


                        <div class="app__iconos">

                            <a href="#" class="app__navlinks2"><img src="/images/lupa.png" alt=""></a>
                            <div class="app__navline"></div>
                            <a href="/bag" class="app__navlinks2"><img src="/images/bolsa.png" alt=""></a>

                            <!-- Me agrega las notificaciones de productos en el carrito -->
                            <p class="carrito__num"></p>

                        </div>
                    </div>

                </nav>


            </header>
        </section>



        <form action="/login" method="POST">

            <label for="">Correo</label>
            <input name="correo" type="email" placeholder="correo@ejemplo.com" value="correo@ejemplo.com">

            <label for="">Contraseña</label>
            <input name="contrasena" type="password" placeholder="contraseña">

            <input class="input-productos" type="hidden" name="productos" value="hola">

            <button>Ingresar</button>
        </form>


        <div class="carrito">
            <p>Carrito</p>
            <span class="carrito__num"></span>
        </div>

       

<h3>Carrito</h3>

        <div class="app__bagRow">



            <div class="app__carrito-desplegado">
                
                <ul class="app__carrito-desplegado__lista">


                </ul>
            </div>




            <section class="app__resumen">

                <div class="app__resumenContenedor">

                    <h1 class="app__resumenContenedor__tit">Resumen</h1>


                    <h1 class="app__resumenContenedor__total">Total de los productos</h1>
                    <h3 class="app__resumenContenedor__totalNum"></h3>


                </div>


            </section>
        </div>

    </div>



    <script src="/js/libs/swipe.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/checkout.js"></script>

</body>

</html>