<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

  <div class="carrito">
        <p>Carrito</p>
        <span class="carrito__num"></span>
    </div>




    <div class="carrito-desplegado">
        <h3>Carrito</h3>
        <ul class="carrito-desplegado__lista">

<div class="producto">
        <img class="producto__imagen" src="../{{imagen.[0]}}" width="200px">
        <h3 class="producto__nombre">{{nombre}}</h3>
        <p class="producto__precio">{{precio}}</p>
        <p class="producto__tipo">{{tipo}}</p>
     
    </div>

        </ul>
        <button class="carrito-desplegado__limpiar">Limpiar carrito</button>

    </div>


</body>
</html>