<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/style/libs/hover.css">
    <link rel="stylesheet" href="/style/libs/swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
    <script src="https://unpkg.com/scrollreveal@4"></script>


</head>


<body>



    <div class="app">


        <section class="app__banner">

            <div class="app__bannerimg" data-src="/images/banner1.png" data-pos-x="left" data-parallax>

                <header class="app__header">
                    <nav class="app__nav">


                        <a href="#" class="logo"> <img src="/images/logo.png" alt=""></a>

                        <ul class="app__navbar1">

                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Home</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Productos</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Ofertas</a>
                            <a href="#" class="app__navlinks1 hvr-underline-from-left">Novedades</a>


                        </ul>


                        <div class="app__navbar2">

                            <a href="#" class="app__navlinks1 hvr-underline-from-left" id="signin">Iniciar Sesión</a>


                            <div class="app__iconos">

                                <a href="#" class="app__navlinks2"><img src="/images/lupa.png" alt=""></a>
                                <div class="app__navline"></div>
                                <a href="#" class="app__navlinks2"><img src="/images/bolsa.png" alt=""></a>




                            </div>
                        </div>


                    </nav>



                    <div class="app__bannercon">
                        <div class="app__raya">
                            <div></div>
                        </div>
                        <div class="app__bannerdesc">
                            <p>Vive, descubre y conéctate con la naturaleza en toda ocasión</p>
                        </div>
                        <div class="app__bannerbtn">
                            <a class="hvr-underline-from-left" href="#">Explorar</a>
                        </div>
                    </div>




                </header>

            </div>



        </section>

        <section class="app__crasas">

            <div class="app__crasas__izq">

                <img class="app__crasas__izq__img" src="/images/cactus.png" alt="" class="reveal">
                <p class="app__crasas__izq__text">
                    Los cactus, crasas y suculentas son algunos de los compañeros más agradecidos por un motivo en
                    común: que, tanto unos como otros, gestionan a la perfección sus recursos de agua, almacenándolas en
                    diferentes partes. Una virtud que hace que, a pesar de necesitar el riego como el común de las
                    plantas, sepan optimizar sus propios recursos. Son comunes en los hogares y, además, perfectas tanto
                    para quienes son amantes de las plantas como para aquellos a los que se les resisten las plantas.
                    Pero, a menudo, nos equivocamos al denominarlas.
                </p>
                <div class="app__crasas__izq__contbtn" class="reveal">
                    <a class="app__crasas__izq__contbtn__btn hvr-underline-from-left" href="#">Elige tus favoritas</a>
                </div>

            </div>


            <div class="app__crasas__der">
                <div class="app__crasas__der__espacio">
                    <div></div>
                </div>
                <div class="app__crasas__der__cont">
                    <img class="app__crasas__der__cont__img" src="/images/crasas.png" alt="">
                    <h2 class="app__crasas__der__cont__titulo">Cactus y plantas crasas para el hogar.</h2>
                </div>

            </div>

        </section>

        <div class="productos">
            <img class="productos__img" src="/images/flor_vector1_r.png" alt="">

            <h1 class="productos__titulo">
                Productos
            </h1>

        </div>




        <section class="flores" class="reveal">

            <div class="flores__floresazul">

                <div class="flores__floresazul__img">

                    <div class="flores__floresazul__infoazul">

                        <h1 class="flores__floresazul__infoazul__titulo">
                            FLORES
                        </h1>
                    </div>



                </div>



            </div>


            <div class="flores__info">

                <p class="flores__info__texto">
                    Explora la diversidad de flores que Blomma tiene para ti.
                </p>

                <form action="/store">
                    <button type="submit" id="boton">
                        Explorar
                    </button>
                </form>
            </div>




        </section>


        <section class="materas">



            <div class="materas__izq">

                <div class="materas__izq__img"></div>

            </div>

            <div class="materas__der">

                <div class="materas__der__maceta"></div>
                <div class="materas__der__info">

                    <h2 class="materas__der__info__titulo">
                        Materas y decoración para el hogar
                    </h2>

                    <button id="boton">
                        explorar
                    </button>

                </div>

            </div>

        </section>

        <section class="interiores">

            <div class="interiores__imgfondo">

                <div class="interiores__imgfondo__der">

                    <div class="interiores__imgfondo__der__todo">


                        <div class="interiores__imgfondo__der__todo__img">



                            <div class="interiores__imgfondo__der__todo__titulo">
                                Plantas interiores y trepadoras
                            </div>


                        </div>

                        <button id="boton">
                            explorar
                        </button>


                    </div>



                </div>

            </div>

        </section>


        <section class="ofertas">

            <div class="ofertas__tit">
                <img class="ofertas__tit__img" src="/images/flor_vector1_r.png" alt="">

                <h1 class="ofertas__tit__titulo">
                    Ofertas
                </h1>

            </div>

            <div class="ofertas__contenedor">
                <div class="ofertas__contenedor__lista">

                    <div class="ofertas__contenedor__lista__flor">

                        <img src="./images/fp_0.png" alt="">
                        <h3>50%</h3>

                    </div>

                    <div class="ofertas__contenedor__lista__flor">

                        <img src="./images/fp_1.png" alt="">
                        <h3>40%</h3>

                    </div>

                    <div class="ofertas__contenedor__lista__flor">

                        <img src="./images/fp_2.png" alt="">
                        <h3>30%</h3>

                    </div>
                </div>

                <div class="ofertas__contenedor__contenido">

                    <div class="ofertas__contenedor__contenido__flor">

                        <div class="ofertas__contenedor__contenido__flor__cont">
                            <img class="ofertas__contenedor__contenido__flor__cont__img" src="./images/f_0.png" alt="">

                            <h2 class="">Orquídea Blanca</h2>
                            <div class="ofertas__contenedor__contenido__flor__cont__price">
                                <h3 class="">$70.000 </h3>
                                <h5>$52.500</h5>
                            </div>

                        </div>
                        <div class="ofertas__contenedor__contenido__flor__espec">

                            <h3>Especificaciones</h3>
                            <div class="line"></div>
                            <h4><strong>Nombre:</strong> Orquídea Blanca.</h4>
                            <h4><strong>Género:</strong> Phalaenopsis.</h4>
                            <h4><strong>Floración:</strong> 2 a 4 meses.</h4>
                            <p><strong>Cuidados:</strong> Debe recibir luz solar directa cada 5 a 6 horas. Regar de 2 a
                                3 veces por semana en la mañana o en la tarde.</p>


                        </div>
                    </div>

                    <div class="ofertas__contenedor__contenido__flor">
                        <div class="ofertas__contenedor__contenido__flor__cont">
                            <img class="ofertas__contenedor__contenido__flor__cont__img" src="./images/f_1.png" alt="">
                            <h3 class="">B</h3>
                        </div>
                        <div class="ofertas__contenedor__contenido__flor__espec"></div>
                    </div>

                    <div class="ofertas__contenedor__contenido__flor">
                        <div class="ofertas__contenedor__contenido__flor__cont">
                            <img class="ofertas__contenedor__contenido__flor__cont__img" src="./images/f_2.png" alt="">
                            <h3 class="">C</h3>
                        </div>
                        <div class="ofertas__contenedor__contenido__flor__espec">



                        </div>
                    </div>

                </div>


            </div>

        </section>

        <section class="novedades">

            <div class="novedades__tit">
                <img class="novedades__tit__img" src="/images/flor_vector1_r.png" alt="">

                <h1 class="novedades__tit__titulo">
                    Novedades
                </h1>

            </div>


            <div class="novedades__container swiper-container">

                <div class="novedades__container-wrapper swiper-wrapper">

                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h2>Flor</h2>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>
                    <div class="novedades__container__flower swiper-slide">
                        <img src="/images/flower1.png" alt="">
                        <h3>Flor</h3>
                        <h3>precio</h3>
                    </div>


                </div>

                <!-- Add Pagination out of wrapper-->
                <div class="swiper-pagination"></div>
            </div>

        </section>

        <footer class="footer">

            <div class="footer__imgfondo">



                <div class="footer_imgfondo__newsletter">

                    <div class="footer__imgfondo__newsletter__izq">
                        <h2 class="footer__imgfondo__newsletter__izq__suscribete">


                        </h2>
                    </div>
                    <div class="footer__imgfondo__newsletter__der">

                        <input class="footer__imgfondo__newsletter__der__input" type="text">
                        <button> </button>

                    </div>

                </div>

            </div>

        </footer>


    </div>

    <!-- library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/libs/parallax.js"></script>

    <script src="/js/libs/swipe.js"></script>

    <script src="/js/main.js"></script>



    <script>
        ScrollReveal().reveal('.reveal');
    </script>


</body>

</html>